docs/Raspberry_IBM-Cloud_Flows.txt
{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf400
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"472a7f97.40de6","type":"ibmiot in","z":"8fbc42fa.dc409","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"myRaspberryPi","applicationId":"","deviceType":"raspberryPi","eventType":"moist","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":140,"y":340,"wires":[["6fbe6a03.b37cdc","c1b2c1c.b2db8c","8ceb1df5.85eb18","c96905ac.0bd3f8","7bf995af.4cb1ec","7cf6961d.e410f8"]]\},\{"id":"5c1480d9.1992e","type":"debug","z":"8fbc42fa.dc409","name":"","active":false,"console":"false","complete":"false","x":1600.9998779296875,"y":11.60003662109375,"wires":[]\},\{"id":"7cf6961d.e410f8","type":"cloudant out","z":"8fbc42fa.dc409","name":"","cloudant":"","database":"plant_demo","service":"mack-ObjIntCon-cloudantNoSQLDB","payonly":false,"operation":"insert","x":370,"y":200,"wires":[]\},\{"id":"6fbe6a03.b37cdc","type":"debug","z":"8fbc42fa.dc409","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":150,"y":480,"wires":[]\},\{"id":"8ceb1df5.85eb18","type":"function","z":"8fbc42fa.dc409","name":"","func":"let pop = msg.payload.d.pop;\\nmsg.payload = pop;\\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":320,"wires":[["ae1ea859.fa1e78"]]\},\{"id":"c96905ac.0bd3f8","type":"function","z":"8fbc42fa.dc409","name":"","func":"let temp = msg.payload.d.weather.min_temp;\\nmsg.payload = temp;\\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["4f06cf75.7b7f9"]]\},\{"id":"7bf995af.4cb1ec","type":"function","z":"8fbc42fa.dc409","name":"","func":"let res = msg.payload.d.reservatorio;\\nmsg.payload = res;\\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["5d183eda.06a8f8"]]\},\{"id":"c1b2c1c.b2db8c","type":"function","z":"8fbc42fa.dc409","name":"","func":"let aux = msg.payload.d.umidade;\\nmsg.payload = aux;\\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["337bfc3f.33e244"]]\},\{"id":"337bfc3f.33e244","type":"ui_gauge","z":"8fbc42fa.dc409","name":"","group":"3d37fae9.8a878e","order":0,"width":"6","height":"6","gtype":"gage","title":"Umidade da Planta","label":"units","format":"\{\{value | number:1\}\}%","min":0,"max":"100","colors":["#b50001","#e5e600","#11ca06"],"seg1":"","seg2":"","x":690,"y":280,"wires":[]\},\{"id":"ae1ea859.fa1e78","type":"ui_gauge","z":"8fbc42fa.dc409","name":"","group":"c2cb9cb2.3e8e68","order":0,"width":"6","height":"6","gtype":"gage","title":"Propabilidade de Chuva","label":"units","format":"\{\{value | number:1\}\}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":320,"wires":[]\},\{"id":"4f06cf75.7b7f9","type":"ui_gauge","z":"8fbc42fa.dc409","name":"","group":"95e5f241.111a88","order":0,"width":"6","height":"6","gtype":"gage","title":"Temperatura Ambiente","label":"units","format":"\{\{value | number:1\}\}\'baC","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":360,"wires":[]\},\{"id":"5d183eda.06a8f8","type":"ui_gauge","z":"8fbc42fa.dc409","name":"","group":"7ab78be5.63637c","order":0,"width":"5","height":"5","gtype":"wave","title":"Reservat\'f3rio de \'c1gua","label":"%","format":"\{\{value\}\}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":400,"wires":[]\},\{"id":"3d37fae9.8a878e","type":"ui_group","z":"8fbc42fa.dc409","name":"Umidade da Planta","tab":"af5519bf.7bac28","order":1,"disp":true,"width":"8","collapse":false\},\{"id":"c2cb9cb2.3e8e68","type":"ui_group","z":"8fbc42fa.dc409","name":"Probabilidade de Chuva","tab":"af5519bf.7bac28","order":3,"disp":true,"width":"10","collapse":false\},\{"id":"95e5f241.111a88","type":"ui_group","z":"","name":"Temperatura Ambiente","tab":"af5519bf.7bac28","disp":true,"width":"6","collapse":false\},\{"id":"7ab78be5.63637c","type":"ui_group","z":"8fbc42fa.dc409","name":"Reservat\'f3rio de \'c1gua","tab":"af5519bf.7bac28","order":3,"disp":true,"width":"10","collapse":false\},\{"id":"af5519bf.7bac28","type":"ui_tab","z":"","name":"Trabalho Objetos Inteligentes Conectados ","icon":"dashboard"\}]}