docs/Raspberry_NodeRed_Flows.txt
{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf400
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"ae213750.9dba3","type":"switch","z":"a05f8c57.90e19","name":"display warning","property":"payload","propertyType":"msg","rules":[\{"t":"lt","v":"50","vt":"num"\},\{"t":"gte","v":"50","vt":"num"\}],"checkall":"true","repair":false,"outputs":2,"x":343.30560302734375,"y":385.7888488769531,"wires":[["e1b252b2.46ae18"],["f07eb4b1.345968"]]\},\{"id":"af5b41c4.4a953","type":"weather_insights","z":"a05f8c57.90e19","name":"weather forecast","host":"twcservice.mybluemix.net","service":"/forecast/daily/10day.json","geocode":"","units":"m","language":"pt-BR","x":895.4719848632812,"y":401.2833557128906,"wires":[["db980925.66ee"]]\},\{"id":"721a0593.d5db0c","type":"function","z":"a05f8c57.90e19","name":"weather request location","func":"\\n//Latidude e Longitude Casa\\n//-xx.xxxxxxx,-xx.xxxxxxx\\nmsg.payload =\\"-xx.xxxxxxx,-xx.xxxxxxx\\"\\n\\nreturn msg;\\n","outputs":1,"noerr":0,"x":762.3610229492188,"y":280.949951171875,"wires":[["4c0cdbf6.f11dc4"]]\},\{"id":"b61be508.dba938","type":"function","z":"a05f8c57.90e19","name":"get todays forecast","func":"msg.d.weather = msg.forecasts[0];\\n\\nlet pop = msg.forecasts[0];\\nlet mediaPop = pop.night.pop;\\n\\nif (pop.hasOwnProperty(\\"day\\")) \{\\n    mediaPop = (mediaPop + pop.day.pop) / 2 ;\\n\} \\n\\nmsg.payload = mediaPop;\\nmsg.d.pop = mediaPop;\\n//msg.payload = 50;\\n\\nreturn msg;","outputs":1,"noerr":0,"x":1039.0830688476562,"y":271.672119140625,"wires":[["aef7d96a.49451"]]\},\{"id":"4c0cdbf6.f11dc4","type":"delay","z":"a05f8c57.90e19","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":852.5276489257812,"y":211.36654663085938,"wires":[["af5b41c4.4a953"]]\},\{"id":"eb9b27f3.a2d31","type":"function","z":"a05f8c57.90e19","name":"","func":"msg.d = \{\\n    \\"umidade\\": msg.payload,\\n    \\"plantaRegada\\": null,\\n    \\"reservatorio\\": null,\\n    \\"weather\\": null\\n\}\\nreturn msg;","outputs":1,"noerr":0,"x":173.72213745117188,"y":384.6222229003906,"wires":[["ae213750.9dba3"]]\},\{"id":"41c493b4.6ca70c","type":"function","z":"a05f8c57.90e19","name":"","func":"msg.d.reservatorio = msg.payload.toString();\\n\\nreturn msg;","outputs":1,"noerr":0,"x":577.1597290039062,"y":534.3055725097656,"wires":[["341de8f2.2181f8"]]\},\{"id":"90f785b8.5b1248","type":"debug","z":"a05f8c57.90e19","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1393.2513427734375,"y":572.6536865234375,"wires":[]\},\{"id":"f07eb4b1.345968","type":"exec","z":"a05f8c57.90e19","command":"python","addpay":false,"append":"./Projetos/ultrasonico.py","useSpawn":"false","timer":"","oldrc":false,"name":"Reservatorio_Agua","x":462.15972900390625,"y":469.9305725097656,"wires":[["41c493b4.6ca70c"],[],[]]\},\{"id":"e1b252b2.46ae18","type":"exec","z":"a05f8c57.90e19","command":"python","addpay":false,"append":"./Projetos/ultrasonico.py","useSpawn":"false","timer":"","oldrc":false,"name":"Reservatorio_Agua","x":469.65972900390625,"y":296.1805725097656,"wires":[["b0156a10.de904"],[],[]]\},\{"id":"bb1a58d5.36279","type":"exec","z":"a05f8c57.90e19","command":"python","addpay":false,"append":"./Projetos/statusPlant.py","useSpawn":"false","timer":"","oldrc":false,"name":"Umidade_Planta","x":138.40972900390625,"y":307.4305725097656,"wires":[["eb9b27f3.a2d31"],[],[]]\},\{"id":"615d6905.cbc2f8","type":"inject","z":"a05f8c57.90e19","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":342.29864501953125,"y":150.2777557373047,"wires":[["bb1a58d5.36279"]]\},\{"id":"b0156a10.de904","type":"function","z":"a05f8c57.90e19","name":"","func":"msg.d.reservatorio = msg.payload.toString();\\n\\nreturn msg;","outputs":1,"noerr":0,"x":594.6597290039062,"y":229.93057250976562,"wires":[["721a0593.d5db0c"]]\},\{"id":"aef7d96a.49451","type":"switch","z":"a05f8c57.90e19","name":"","property":"payload","propertyType":"msg","rules":[\{"t":"lt","v":"50","vt":"num"\},\{"t":"gte","v":"50","vt":"num"\}],"checkall":"true","repair":false,"outputs":2,"x":1126.326416015625,"y":203.19436645507812,"wires":[["131de783.a86ca8"],["ffa53f40.5da1"]]\},\{"id":"131de783.a86ca8","type":"exec","z":"a05f8c57.90e19","command":"python","addpay":false,"append":"./Projetos/pumpOnOff.py","useSpawn":"false","timer":"","oldrc":false,"name":"Bomba_Agua","x":1350.68505859375,"y":258.3333435058594,"wires":[["d70cb552.a3fb78"],[],[]]\},\{"id":"341de8f2.2181f8","type":"function","z":"a05f8c57.90e19","name":"weather request location","func":"\\n//Latidude e Longitude Casa\\n//-xx.xxxxxxx,-xx.xxxxxxx\\nmsg.payload =\\"-xx.xxxxxxx,-xx.xxxxxxx\\"\\n\\nreturn msg;\\n","outputs":1,"noerr":0,"x":664.4445190429688,"y":594.1668395996094,"wires":[["b48ea833.6ca968"]]\},\{"id":"b48ea833.6ca968","type":"delay","z":"a05f8c57.90e19","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780.1666870117188,"y":515.6944274902344,"wires":[["af5b41c4.4a953"]]\},\{"id":"2c19c00f.61bca","type":"function","z":"a05f8c57.90e19","name":"get todays forecast","func":"msg.d.weather = msg.forecasts[0];\\n\\nreturn msg;","outputs":1,"noerr":0,"x":974.4999389648438,"y":589.3333435058594,"wires":[["ccb28af8.2c9c8"]]\},\{"id":"db980925.66ee","type":"switch","z":"a05f8c57.90e19","name":"fluxo_Switch","property":"d.umidade","propertyType":"msg","rules":[\{"t":"lt","v":"50","vt":"num"\},\{"t":"gte","v":"50","vt":"num"\}],"checkall":"true","repair":false,"outputs":2,"x":1081.3888549804688,"y":400.55560302734375,"wires":[["b61be508.dba938"],["2c19c00f.61bca"]]\},\{"id":"d70cb552.a3fb78","type":"function","z":"a05f8c57.90e19","name":"","func":"let data = new Date();\\n\\nlet dia = data.getDate();\\nlet mes = data.getMonth();\\nlet ano = data.getFullYear();\\nlet hora = data.getHours();\\nlet minutos = data.getMinutes();\\nlet segundos = data.getSeconds();\\n\\nhoraNow = `$\{dia\}/$\{mes\}/$\{ano\}-$\{hora\}:$\{minutos\}:$\{segundos\}`;\\n\\nmsg.d.plantaRegada = horaNow;\\n\\nmsg.payload = horaNow;\\n\\nreturn msg;","outputs":1,"noerr":0,"x":1414.0182495117188,"y":351.6667175292969,"wires":[["ccb28af8.2c9c8"]]\},\{"id":"ccb28af8.2c9c8","type":"function","z":"a05f8c57.90e19","name":"","func":"msg.payload = msg.d;\\n\\nreturn msg;","outputs":1,"noerr":0,"x":1330.6851806640625,"y":497.2222595214844,"wires":[["90f785b8.5b1248","78bf0679.39bca8"]]\},\{"id":"ffa53f40.5da1","type":"switch","z":"a05f8c57.90e19","name":"","property":"d.umidade","propertyType":"msg","rules":[\{"t":"lt","v":"30","vt":"num"\},\{"t":"gte","v":"30","vt":"num"\}],"checkall":"true","repair":false,"outputs":2,"x":1224.0187377929688,"y":333.33331298828125,"wires":[["131de783.a86ca8"],["ccb28af8.2c9c8"]]\},\{"id":"78bf0679.39bca8","type":"wiotp out","z":"a05f8c57.90e19","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"389f4409.3c756c","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":1520.71435546875,"y":434.28564453125,"wires":[]\},\{"id":"389f4409.3c756c","type":"wiotp-credentials","z":"","name":"","org":"irl507","serverName":"","devType":"mack-projIoT_2018","devId":"raspberryPi3B","keepalive":"60","cleansession":true,"tls":"","usetls":false\}]}